{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo">书签</span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == 'dashboard' %}class="selected" {% endif %}><a href="{% url 'dashboard' %}">我的主页</a></li>
                <li {% if section == 'images' %} class="selected" {% endif %}><a href="{% url 'images:list' %}">图片</a></li>
                <li {% if section == 'people' %} class="selected" {% endif %}><a href="{% url 'user_list' %}">个人</a></li>
            </ul>
        {% endif %}

        <span class="user">
            {% if request.user.is_authenticated %}
                您好,{{ request.user.first_name }},{{ request.user.username }},<a href="{% url 'logout' %}">注销</a>
            {% else %}
                <a href="{% url 'login' %}">登录</a>
            {% endif %}
        </span>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message|safe }}<a href="#" class="close">X</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        let csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
            //如下的http请求不需要设置csrf信息
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend:function (xhr,settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain){
                    xhr.setRequestHeader('X-CSRFToken',csrftoken);
                }
            }
        });
        $(document).ready(function () {
            {% block domready %}
            {% endblock %}
        })
    </script>
</body>
</html>